{% extends "QnA/base.html" %}
{% load static %}
{% block content%}
	<article class="media content-section">
	  <img class="rounded-circle article-img" src="">
	  <div class="media-body">
	    <div class="article-metadata">
	      <a class="mr-2" href="#">{{ question.author.username }}</a>
				<small class="text-muted">{{ question.date_published|date:"F d, Y" }}</small>
				{% if object.author == user %}
	      	<div>
	      		<a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'question-update' question.slug question.id %}">Update</a>
	      		<a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'question-delete' question.slug question.id %}">Delete</a>
	      	</div>
	      {% endif %}
	    </div>
	    <h2 class="article-title">{{ question.title }}</h2>
			<p class="article-content">{{ question.content }}</p>
			<p class="article-content">{{ question.comment }}</p>
			<hr>
			{% for comment in question.comments.all %}
				{% if comment.r_token == False %}
					<img class="rounded-circle article-img" src="">
					<a class="mr-2" href="#">{{ comment.author }}</a>
					<small class="text-muted">{{ comment.date_published|date:"F d, Y" }}</small>
					{% if comment.author == user %}
						<div>
							<a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'question-update' question.slug question.id %}">Update</a>
							<a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'comment-delete' comment.id %}">Delete</a>
						</div>
	      	{% endif %}
					<p style="border-left:6px solid grey; background-color:lightblue">{{ comment.comment }}</p>
					{% if object.author == user and comment.r_token == False  %}
						<a href="{% url 'solution' comment.id %}">This solve my question !</a>
					{% endif %}
				{% elif comment.r_token == True %}
					<h3>This is the solution !</h3>
					<img class="rounded-circle article-img" src="">
					<a class="mr-2" href="#">{{ comment.author }}</a>
					<small class="text-muted">{{ comment.date_published|date:"F d, Y" }}</small>
					{% if comment.author == user %}
						<div>
							<a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'question-update' question.slug question.id %}">Update</a>
							<a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'comment-delete' comment.id %}">Delete</a>
						</div>
	      	{% endif %}
					<p style="border-left:6px solid grey; background-color:lightblue">{{ comment.comment }}</p>
				{% endif %}
				<hr>
			{% empty %}
				<p>There is no comment</p>
			{% endfor %}
			<a href="{% url 'add-comment' question.slug %}">Leave A Comment</a>
			<br>
	  </div>
	</article>
{% endblock content %}